/*----------GERAL--------------*/
html, body{
    height: 100%;
    margin: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #161616;
    color: white;
}
.section-background{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 500px;
    height: 100%;
} 
.section-container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
}

 .section-title{
    
    text-align: center;
    font-size: 30px;
    
 }
 .section-text{
     background-color: rgba(0, 0, 0, 0.7) ;
     margin: 0;
     padding: 10px;
     font-size: 18px;
 }

    .drinks-image{
     max-width: 30%;
     margin-top: -30px;
    }
/*----------HEADER--------------*/
.main-header{
    position: relative;
}
.header-video{
    width: 100%;
}
.navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #3b3b3b;
    z-index: 100;
}
.navigation-list{
    padding: 0;
}
.navigation-list-item{
    display: inline-block;
    padding: 15px;
}
.nav-link{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.nav-link:hover{
    color: #0079d0;
}
.logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 90%;
}
.ancora{
    position: absolute;
    top: -85px;
}

/*----------O LUGAR-------------*/
.lugar{
    background-image: url('./images/bar_interior.jpg');
}

/*----------DRINKS-------"-------*/
.drinks{
    background-image: url('./images/drinks_background.jpg');
}

/*----------FOOTER--------------*/
.main-footer{
    position: relative;
    padding-left: 100px;
    padding-bottom: 30px;
    
}
.footer-section{
    display: inline-block;
    vertical-align: top;
    width: 33%;
    min-width: 230px;
}

